<div class="userSettingPage">
  <titleItem title="user setting"/>
  <div class="container">
    <div class="row">
      <div class="content_main_box shadow-sm w-100 px-4 py-4 font_12 d-flex flex-column align-items-center justify-content-between">
        <div class="box">
          <div class="form-group mb-3 mt-lg-5">
            <label for="emailInput">Email / Eメール</label>
            <div>peter@neplus.com</div>
          </div>
          <div class="form-group mb-lg-5 mb-md-3">
            <label for="emailInput">Email / Eメール</label>
            <input type="text" class="form-control" id="emailInput" placeholder="placeholder">
          </div>
          <div class="form-group mb-lg-5 mb-md-3">
            <label for="emailInput2">Email / Eメール</label>
            <input type="text" class="form-control" id="emailInput2" placeholder="placeholder">
          </div>
          <div class="form-group mb-lg-5 mb-md-3">
            <label for="emailInput3">Email / Eメール</label>
            <input type="text" class="form-control" id="emailInput3" placeholder="placeholder">
          </div>
          <div class="option d-flex justify-content-between">
            <button class="border-0 d-flex align-items-center text-capitalize" data-type="cancel">cancel</button>
            <button class="border-0 d-flex align-items-center text-capitalize">save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
