@import "~bootstrap/scss/_functions.scss";
@import "./customer/_utilty";
@import "./customer/_variables";
@import "~bootstrap/scss/bootstrap.scss";

// 字體尺寸
@for $i from 12 through 30 {
  .font_#{$i} {
      font-size: $i * 1px;
  }
}

// 字體顏色

// 後台容器
.container_fix{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  @media (max-width: 1139px){
    max-width: 1080px;
  }
}
