@import "~bootstrap/scss/_functions.scss";
@import "./customer/_utilty";
@import "./customer/_variables";
@import "~bootstrap/scss/bootstrap.scss";

//vue transition 換頁動畫
@import "./customer/_vuetransition";

// vue overlay loading
@import '~vue-loading-overlay/dist/vue-loading.css';

// 字體尺寸
@for $i from 12 through 30 {
  .font_#{$i} {
      font-size: $i * 1px;
  }
}

// 字體顏色

// 按鈕
button{
  outline: none !important;
}

// 前台
.content_main_box{
  position: relative;
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: calc( 100% + 2px );
    height: 5px;
    background-color: $color-cus-blue;
    top: -5px;
    left: -1px;
  }
  @media screen and (max-width: 575px){
    &::before{
      width: 100%;
    }
  }
  min-height: 300px;
}

// 後台容器
.container_fix{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  @media (max-width: 1139px){
    max-width: 1080px;
  }
}
