<footer class="footerItem">
  <div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center py-4">
      <a href="javascript:;">
        <img src="../../..//public/img/logo.png" alt="" class="img-fluid">
      </a>

      <div class="d-flex align-items-center justify-content-center my-4">
        <p class="font_12 mb-0">大阪市西区江戸堀2丁目1番地13号あさひ高速印刷ビル</p>
        <p class="font_12 mb-0 mx-3">TEL：06-6448-7521（代）</p>
        <p class="font_12 mb-0">FAX：06-6447-1896</p>
      </div>

      <div class="copyright font_12">
        Copyright &copy; 2017 Asahi Kosoku Printing Co,.Ltd. All rights reserved
      </div>

    </div>
  </div>
</footer>
