<div class="canvasItem w-100 h-100" @mouseover="optionsTrigger = true" @mouseleave="optionsTrigger = false">
  <!-- 這裡是canvas -->
  <canvas class="myCanvas" :class="{'noBg': !bgUse}"><span class="text-danger">Your browser does not support the HTML5 canvas tag</span></canvas>

  <!-- 沒有圖片 -->
  <div class="noImg d-flex justify-content-center align-items-center" v-if="optionStatus &&Object.keys(imgSrc).length === 0">
    <button 
      class="uploadImg border-0 font_14 text-capitalize d-flex align-items-center shadow"
      @click="openImgBox"
    ><i class="material-icons mr-1">photo</i>set photo</button>
  </div>

  <!-- 功能 -->
  <button 
    v-if="optionStatus && Object.keys(imgSrc).length !== 0"
    class="zoomOption options d-flex justify-content-center align-items-center shadow-sm" 
    @click="zoomOption = !zoomOption"
    :class="{'active' : zoomOption, 'hover' : optionsTrigger, 'moveDevice' : deviceMobileStatus}"
  ><i class="material-icons">zoom_out_map</i></button>
  <transition name="selectOption" mode="out-in" appear>
    <div class="inputBox" v-if="zoomOption && optionsTrigger">
      <input type="range" class="form-control-range" min='1' max='5' step='0.00001' v-model.number='imgScale'>
    </div>
  </transition>

  <button 
    v-if="optionStatus && Object.keys(imgSrc).length !== 0"
    class="rotateOption options d-flex justify-content-center align-items-center shadow-sm" 
    @click="rotateOption = !rotateOption"
    :class="{'active' : rotateOption, 'hover' : optionsTrigger, 'moveDevice' : deviceMobileStatus}"
  ><i class="material-icons">rotate_90_degrees_ccw</i></button>
  <transition name="selectOption" mode="out-in" appear>
    <div class="inputBox" v-if="rotateOption && optionsTrigger">
      <input type="range" class="form-control-range" min='-180' max='180' step='1' v-model.number='imgRotate'>
    </div>
  </transition>

  <button 
    v-if="optionStatus && Object.keys(imgSrc).length !== 0"
    class="imgChangeOption options d-flex justify-content-center align-items-center shadow-sm" 
    @click="openImgBox"
    :class="{'active' : photoOpen, 'hover' : optionsTrigger, 'moveDevice' : deviceMobileStatus}"
  ><i class="material-icons">photo</i></button>
  
  <!-- loading -->
  <loading 
    :active.sync="showLoading"
    color="#002fd3"
    :opacity= "loadingOpacity"
    :is-full-page="fullNone"
    loader="spinner"
  >
  </loading>

  <!-- 圖片選擇 -->
  <transition name="page" mode="out-in" appear>
    <imgGroupBox 
      v-if="photoOpen && optionStatus"
      @closeHandler='closePhotoBox'
      @imgSetHandler='imgReset'
    /> 
  </transition>
</div>
