<nav class="sideBarBack nav flex-column pt-2">
  <div class="sideOptions px-2">
    <div class="options_area h-100 border-bottom border_color_lightGreen d-flex justify-content-between align-items-center">
      <a href="javascript:;" class="option_btn d-flex align-items-center"><i class="material-icons">person</i></a>
      <a href="javascript:;" class="option_btn d-flex align-items-center"><i class="material-icons">settings</i></a>
      <a href="javascript:;" class="option_btn d-flex align-items-center"><svg class="logout_icon" fill="currentColor" id="圖層_1" data-name="圖層 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.95 88.5"><title>logout</title><path d="M43.7,28.6,59.6,44.5H24.9a5.5,5.5,0,0,0,0,11H59.7l-16,15.9a5.52,5.52,0,0,0,7.8,7.8L76.8,53.9a5.43,5.43,0,0,0,0-7.8L51.5,20.8a5.43,5.43,0,0,0-7.8,0A5.62,5.62,0,0,0,43.7,28.6Z" transform="translate(-2.5 -5.8)"/><path d="M35.8,88.8a5.48,5.48,0,0,0-5.5-5.5H13.5V16.8H30.3a5.48,5.48,0,0,0,5.5-5.5,5.55,5.55,0,0,0-5.5-5.5H8a5.48,5.48,0,0,0-5.5,5.5V88.8A5.48,5.48,0,0,0,8,94.3H30.3A5.48,5.48,0,0,0,35.8,88.8Z" transform="translate(-2.5 -5.8)"/></svg></a>
    </div>
  </div>

  <router-link class="nav-link sideNav text-capitalize font_14 py-3" :to="{name : 'memAdmin' }">member</router-link>
  <router-link class="nav-link sideNav text-capitalize font_14 py-3" :to="{name : 'albumsAdmin' }">albums</router-link>
  <router-link class="nav-link sideNav text-capitalize font_14 py-3" :to="{name : 'ordersAdmin' }">order</router-link>
  <router-link class="nav-link sideNav text-capitalize font_14 py-3" :to="{name : 'AdminstratorAdmin' }">adminstrator</router-link>
</nav>
