@import "../../assets/scss/customer/utilty";
.navBack{
  background-color: #fff;
  overflow: hidden;
  .nav_box{
    height: 50px;
  }
  .main_box{
    background-color: $color-cus-darkgray ;
  }
  .bg_img{
    width: 1362px;
    height: 85px;
    background-image: url(../../../public/img/bannerImg_back.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: auto 85px;
    position: relative;
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 50vw;
      height: 85px;
      top: 0;
      right: 0;
      background-image:url(../../../public/img/bannerImg_back2.png);
      background-position: 0% 0%;
      background-repeat: repeat-x;
      background-size: 152px 85px;
      transform: translateX(100%);
    }
    .title{
      text-shadow: 2px 2px 2px rgba(0,0,0,.3);
      letter-spacing: 2px;
    }
  }
}
