<nav class="navBack">
  <div class="container_fix">
    <div class="row">
      <div class="d-flex justify-content-between nav_box align-items-center">
      <img src="/img/logo.png" alt="" class="img-fluid">
    </div>
    </div>
  </div>
  <div class="w-100 main_box d-flex justify-content-center align-items-center">
    <div class="bg_img">
      <transition name="scale" mode="out-in" appear> 
        <p class="title h-100 text-uppercase text-white font-weight-bold font_20 d-flex justify-content-center align-items-center" v-if="showTitle">{{titleProps}}</p>
      </transition>
    </div>
  </div>
</nav>
