<nav class="navFront">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center nav_box row">
      <router-link class="rwd_logo" :to="{name : 'home' }">
        <!-- <a href="javascript:;" class="rwd_logo"> -->
          <img src="../../../public/img/logo.png" alt="" class="img-fluid">
        <!-- </a> -->
      </router-link>
      <!-- pc -->
      <div class="d-md-flex justify-content-between align-items-center d-none">
        <a class="lang_btn font_12" href="javascript:;">日本語</a>
        <div class="border_fix nav_option_height"></div>
        <a class="lang_btn font_12" href="javascript:;">English</a>
        <div class="option_box nav_option_height d-flex justify-content-between align-items-center">
          <a class="option_btn font_12 d-flex justify-content-start align-items-center" href="javascript:;">
            <i class="material-icons">person</i>
            <span>Ohtani Shohei</span>
          </a>
          <router-link class="option_btn font_12 d-flex justify-content-start align-items-center" :to="{name : 'userSettingPage' }">
            <i class="material-icons">settings</i>
          </router-link>
          <!-- <a class="option_btn font_12 d-flex justify-content-start align-items-center" href="javascript:;">
            <i class="material-icons">settings</i>
          </a> -->
          <a class="option_btn font_12 d-flex justify-content-start align-items-center" href="javascript:;">
            <svg class="logout_icon" fill="currentColor" id="圖層_1" data-name="圖層 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.95 88.5"><title>logout</title><path d="M43.7,28.6,59.6,44.5H24.9a5.5,5.5,0,0,0,0,11H59.7l-16,15.9a5.52,5.52,0,0,0,7.8,7.8L76.8,53.9a5.43,5.43,0,0,0,0-7.8L51.5,20.8a5.43,5.43,0,0,0-7.8,0A5.62,5.62,0,0,0,43.7,28.6Z" transform="translate(-2.5 -5.8)"/><path d="M35.8,88.8a5.48,5.48,0,0,0-5.5-5.5H13.5V16.8H30.3a5.48,5.48,0,0,0,5.5-5.5,5.55,5.55,0,0,0-5.5-5.5H8a5.48,5.48,0,0,0-5.5,5.5V88.8A5.48,5.48,0,0,0,8,94.3H30.3A5.48,5.48,0,0,0,35.8,88.8Z" transform="translate(-2.5 -5.8)"/></svg>
          </a>
          
        </div>
      </div>
      <!-- rwd -->
      <div class="d-md-none d-flex justify-content-end align-items-center">
        <a class="option_btn_rwd d-flex align-items-center" href="javascript:;">
          <i class="material-icons">person</i>
        </a> 
        <a class="option_btn_rwd d-flex align-items-center" href="javascript:;">
          <i class="material-icons">more_vert</i>
        </a>
      </div>
    </div>
  </div>
  <div class="second_nav" >
    <div class="container h-100">
      <div class='row h-100 d-flex'>
        <router-link class="d-flex justify-content-center align-items-center h-100 text-capitalize se_nav_btn active" :to="{name : 'AlbumsPage' }">
          <!-- <a href="javascript:;" class="d-flex justify-content-center align-items-center h-100 text-capitalize se_nav_btn active">Albums</a> -->
          Albums
        </router-link>
        <a href="javascript:;" class="d-flex justify-content-center align-items-center h-100 text-capitalize se_nav_btn ">order</a>
      </div>
    </div>
  </div>  
</nav>
