// @import "../../../assets/scss/customer/utilty";
.editAlbum{
  .content_main_box{
    display: flex;
    min-height: 400px;
    .innerContent{
      padding-left: 180px;
      position: relative;
      >.left{
        position: absolute;
        width: 120px;
        height: 100%;
        top: 0;
        left: 0;
        padding: 2px;
        border: 1px solid #eee;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; // 讓手機版左右滑動更滑順
        >div{
          width: 100%;
          // height: 100px;
          height: auto;
          min-height: 70px;
          box-sizing: border-box;
          // background-color: #ccc;
          transition: .5s;
          position: relative;
          border: 1px solid #eee;
          &.active {
            // background-color: #888;
            // color:#fff;
            .navblock{
              background-color: rgba($color-cus-titleBlus, .6);
              color:#fff;
            }
          }
          .navblock{
            transition: .5s;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            .page_info{
              background-color: #fff;
              color:$color-cus-darkgray2;
            }
          }
        }
        >div:not(:last-child){
          margin-bottom:15px;
        }
  
        &::-webkit-scrollbar {
          width: 3px;
        }
          
        &::-webkit-scrollbar-track {
          // box-shadow: inset 0 0 4px rgba(0,0,0,0.1); 
          border-radius: 3px;
        }
          
        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
          background-color: #eee;
        }
      }
      >.right{
        .no-album {
          min-height: 300px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      .innerContent{
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0px;
        >.left{
          position: static;
          // height: 100px;
          height:auto;
          width: 100%;
          overflow-y: hidden;
          display: flex;
          overflow-x: auto;
          > div {
            margin-bottom:0px !important;
            width: 100px;
            // height: 100px;
            flex: 100px;
            flex-grow: 0;
            flex-shrink: 0;
            &:not(:last-child) {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
  .editOption{
    height: 40px;
    background-color: #fff;
    .options_btn{
      border-radius: 20px;
      padding: 5px 25px 5px 20px;
      background-color: $color-cus-darkgray;
      color: $color-cus-green;
      transition: .5s;
      &:hover{
        background-color: $color-cus-green;
        color: #fff;
      }
    }
  }
}
