//自訂

$customer :rgba(36, 94, 96,1); //rgba(240,89,42,1)  ;

$color-cus-gray: #eee;
$color-cus-darkgray: #dcdcdc;
$color-cus-darkgray2: #626262;
$color-cus-green: #16b6af;
$color-cus-blue: #002fd3;
$color-cus-lightblue: #245bde;
$color-cus-titleBlus: #8edbff;
