.vueTable2_zone{
  .options{
    >select {
      box-shadow: none;
      background-color: $color-cus-gray-back ;
      width: 200px;
    }
    .input-group{
      width: 250px;
      background-color: $color-cus-gray-back ;
      .form-control{
        background-color: $color-cus-gray-back ;
        box-shadow: none;
      }
      .btn{
        box-shadow: none;
      }
    }
  }
  // vue table 2 主要修改
  .VueTables{
    table{
      border-bottom: 1px solid #dee2e6;
    }
    .VueTables__limit,
    .VueTables__search,
    .VueTables__search-field,
    .VuePagination{
      display: none;
    }
    thead{
      th{
        &.width-fix-50{
          width: 50px;
        }
        &.width-fix-100{
          width: 100px;
        }
      }
    }
    tbody{
      tr{
        &:hover{
          background-color: lighten($customer,30%);
          color:#fff;
          box-shadow: 0px 5px 5px rgba(0,0,0,.1);
          border:none;
        }
      }
    }  
  }
  // sort icon----------
  @mixin arrowUp{
    right: 1em;
    content: "\2191";
    @content;
  }
  @mixin arrowDown{
    right: 0.5em;
    content: "\2193";
    @content;
  }
  .sorticon{
    &.sort{
      &:before{
        @include arrowUp
      }
      &:after{
        @include arrowDown;
      }
    }

    &.sort-up{
      &:before{
        @include arrowUp{
          opacity: 1;
        }
      }
      &:after{
        @include arrowDown{
          opacity: .3;
        }
      }
    }

    &.sort-down{
      &:before{
        @include arrowUp{
          opacity: .3;
        }
      }
      &:after{
        @include arrowDown{
          opacity: 1;
        }
      }
    }
  }
}
