$width: 250px;

.createAlbumPage{
  color: $color-cus-darkgray2;
  input,
  textarea,
  select{
    box-shadow: none;
    &::placeholder{
      color: lighten($color-cus-darkgray2, 30%);
      font-size: 12px;
    }
  }
  select{
    color: $color-cus-darkgray2;
  }

  .box{
    width: $width;
    position: relative;
    .img_box{
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      transform: translateX(-140%);
      margin-bottom:20px;
      .drop{
        margin:auto;
        width: 150px;
        height: 150px;
        border-radius: 5px;
        background-color: #ccc;
      }
    } 
    @media screen and (max-width: 767px){
      .img_box{
        width: 100%;
        position: relative;
        transform: translateX(0%);
      }
    }
  }
  .option{
    margin-top:50px;
    width: $width;
    >button{
      background-color: $color-cus-green;
      border-radius: 20px;
      padding: 2px 25px;
      color: #fff;
      &[data-type=cancel]{
        background-color: $color-cus-darkgray;
      }
      &:hover{
        filter: brightness(110%);
      }
    }
  }
}
