<div class="createAlbumPage">
  <div class="container">
    <div class="row">
      <div class="content_main_box shadow-sm w-100 px-4 py-4 font_12 d-flex flex-column align-items-center justify-content-between">
        <div class="box mt-lg-5">
          <div class="img_box">
            <div class="drop">

            </div>
            <div class="font_12 text-center text-md-left">Select a image or drag image to here</div>
          </div>
          <div class="form-group">
            <label for="">Album Name</label>
            <input type="text" class="form-control" id="" placeholder="placeholder">
          </div>
          <div class="form-group">
            <label for="">Subtitle / 副標</label>
            <textarea name="" id="" class="form-control" rows="5" placeholder="please enter album subtitle"></textarea>
          </div>
          <div class="form-group">
            <label for="">Cover</label>
            <select class="custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Size</label>
            <select class="custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="option d-flex justify-content-between">
          <button class="border-0 d-flex align-items-center text-capitalize" data-type="cancel">cancel</button>
          <button class="border-0 d-flex align-items-center text-capitalize" data-type="create">create</button>
        </div>
      </div>
    </div>
  </div>
</div>
