<div class="albumsPage pt-5 pb-3">
  <nav class="nav d-flex justify-content-center align-items-center">
    <router-link class="nav-link nav_btn font_14 text-capitalize" :to="{name: 'AlbumSizeAdmin'}" :class="{active: routerName === 'AlbumSizeAddAdmin'}">size</router-link>
    <router-link class="nav-link nav_btn font_14 text-capitalize" :to="{name: 'AlbumCoverAdmin'}">cover</router-link>
    <router-link class="nav-link nav_btn font_14 text-capitalize" :to="{name: 'AlbumLayoutAdmin'}">Layout</router-link>
  </nav>

  <breadCrum class="border_top border_bottom m-0" :pathProps="breadCrumPath"/>
  <transition name="fade" mode="out-in" appear>
    <router-view></router-view>
  </transition>
</div>
