@import "../../../assets/scss/customer/utilty";
.indexPage{
  padding-bottom:30px;
  min-height: 100vh;
  min-width: 1140px;
  background-color: $color-cus-gray-back;
  .page_area{
    width: calc( 100% - #{$sideBarWidth} );
    .page_area_zone{
      min-height: 300px;
    }
  }
}
