<div class="indexPage">
  <navItem :titleProps='titleName'/>
  <!-- IndexPage 後台 -->
  <div class="container_fix">
    <div class="row d-flex">
      <div>
        <sideBarItem/>
      </div>
      
      <div class='page_area'>
        <div class="container-fluid pr-0 pt-4">
          <transition name="fade" mode="out-in" appear>
            <router-view class="page_area_zone" v-if="adminToken"></router-view>
          </transition>
        </div>
      </div>
    </div>
  </div>

  <vue-snotify></vue-snotify>
</div>
